td{
    text-align:center;
}

table a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

th{
    background-color:mediumpurple;
}

th.playerName{
    width: 80px;
    text-align: center;
    background: mediumpurple;
    padding: 5px 0px;
}

th.gameDate{
    width:140px;
}