@font-face{
    font-family: "BlackChancery";
    src: url(BLKCHCRY.ttf) format("truetype");
}

body{
	background-color:white;
}

#content{
	margin-left:auto;
	margin-right:auto;
	width:1000px;
}

h1{
	text-align: center;
	color: purple;
	font-family: "BlackChancery",cursive;
	font-size: 80px;
	font-weight: lighter;
}

table,td{
    border:1px solid white;
}