{% extends "layout.html" %}

{% block head %}

    <script type="application/javascript" src="/static/lib/d3.js"></script>

    <style>
    
        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .x.axis path {
          display: none;
        }

        .line {
          fill: none;
          stroke: steelblue;
          stroke-width: 1.5px;
        }

        rect.pane {
          cursor: move;
          fill: none;
          pointer-events: all;
        }
        
    </style>

{% endblock %}


{% block content %}

	<h1>WIZARD</h1>	
    <div id="plt"></div>
    
{% endblock %}


{% block footscript %}

    <script type="application/javascript" src="/static/indexScript.js"></script>
    
{% endblock %}


