<!doctype html>

<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8" /> 
    
    <title>{% block title %}Most Excellent Wizard League{% endblock %}</title>

    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    
    {% block head %}{% endblock %}
    
  <body>
  
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    
    {% block footscript%}{% endblock %}
    
  </body>
</html>