<!DOCTYPE html>

<meta http-equiv="X-UA-Compatible" content="IE=Edge"
<meta charset="utf-8" /> 

<html>
<head>
<title>Most Excellent Wizard League</title>

<link rel="stylesheet" href="/static/style.css" type="text/css" />

</head>

<body>
<div id="content">
	<h1>WIZARD</h1>
	
    <form method="post">
    
        <input type="text" name="p1">
        <input type="submit">
    
    </form>
    
    <ul id="players">
    {% for player in plist %}
        <li> {{ player }}
    {% endfor %}
    </ul>
    
</div>
</body>
