<!DOCTYPE html>

<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="utf-8" /> 

<html>
<head>
<title>Most Excellent Wizard League</title>

<link rel="stylesheet" href="/static/style.css" type="text/css" />
<script type="application/javascript" src="/static/lib/d3.js"></script>


</head>

<body>
<div id="content">
	<h1>WIZARD</h1>
    
    <h2>SCORES</h2>

    
    <p><a href="/players"> players </a></p>

    
</div>

<script type="application/javascript" src="/static/scoreScript.js"></script>
</body>
